[Unit]
Description=Librespot Spotify Player
After=network.target sound.target eddi-setup.service

[Service]
ExecStart=/usr/bin/librespot \
  --name "Eddi" \
  --device-type speaker \
  --bitrate 320 \
  --cache /home/pi/.librespot \
  --disable-audio-cache
Restart=on-failure
RestartSec=10
User=pi
EnvironmentFile=/home/pi/eddi/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
